/* semantic color variables for this project */
:root {
  --primary-color: #008C1E;
  --primary-color-light: #80c58f;
  --text-color: black;
  --background-color: white;
  --main-font: 'Montserrat', sans-serif;
  --font-weight-bold: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #008C1E;
    --background-color: #212124;
    --text-color: white;
    }
}

.dark-mode {
  --primary-color: #008C1E;
  --background-color: #212124;
  --text-color: white;
}

.light-mode {
  --primary-color: #008C1E;
  --background-color: white;
  --text-color: black;
}