/* semantic color variables for this project */
:root {
  --primary-color: #008C1E;
  --text-color: black;
  --color-background: white;
  --main-font: 'Montserrat', sans-serif;
  --accent-font: 'Montserrat', sans-serif, bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #008C1E;
    --color-background: black;
    --text-color: white;
    }
}

.dark-mode {
  --primary-color: #008C1E;
  --color-background: black;
  --text-color: white;
}

.light-mode {
  --primary-color: #008C1E;
  --color-background: white;
  --text-color: black;
}